th {
    padding: 10px;
}
td{
    padding: 10px;
}
.fondo{
    padding: 20px;
}

.contenedor1 {
   
    
   
    
}

table{
    text-size-adjust: 10px;
}

.th{
    font-size: 13px;
}
.td {
    font-size: 10px;
}
.contenedor {
   
}
